# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.cosmic-game.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lucas\Desktop\UnityProjects\cosmic-game\.idea\.idea.cosmic-game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
